@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html {
  box-sizing: border-box;
  font-family: sans-serif;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.videos {
  position: absolute;
  top: 0;
  z-index: -1;
}

h1{
  font-family: 'Lobster', cursive;
  font-size: 50px;
  color: white;
  margin-bottom: 10px;
  text-shadow: 2px 0px 2px rgba(255, 255, 255, 1);
}

.cover {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  height:100vh;
}

.flex-form {
  display:flex;
  border:20px solid rgba(0,0,0,0.3);
  border-radius:5px;
  width: 400px;
}

input[type="search"] {
  padding: 10px;
  font-size: 16px;
  border-radius:5px;
  width: 100%;
  text-align: center;
}
